<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
<appSettings>
 <!--<add key="Product" value="C:\Projects\ITCapacitaciones\DemoInterfaces\DALMSQL\bin\Debug\DALMSQL.dll"/>-->
  <!--<add key="Product" value="C:\Projects\ITCapacitaciones\DemoInterfaces\DAL\bin\Debug\DAL.dll"/>-->
  <add key="Product" value="C:\Projects\ITCapacitaciones\DemoInterfaces\DALJson\bin\Debug\DALJson.dll"/>
</appSettings>
</configuration>
